body{
  background-color: black;
}

.avatar {
  background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-image: url("../img/default-user.svg");
    background-color: black;
    margin-right: 16px
}

.avatar-big {
  background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-image: url("../img/default-user.svg");
    background-color: black;
    margin-top: 24px;
    margin-bottom: -64px;

}
#close_btn{
  margin-top: 8px;
  color: white;
}

#avatar-big-bg{
  margin-top: 0;
  height: 200px;
}

#logindialog{
  width: 350px;
}

#selected_user{
  padding-top: 16px;
}

#welcome_message{
  color: white;
  position: absolute;
       top: 45%;
       left: 45%;
       margin-right: -50%;
       transform: translate(-50%, -50%)
}
